<!-- 新增模态框 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增请假单</h4>
            </div>
            <div class="modal-body">
                <form id="addForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请假单号</label>
                        <div class="col-sm-10">
                            <input type="text" name="leaveID" class="form-control" placeholder="请假单号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程编号</label>
                        <div class="col-sm-10">
                            <input type="text" name="courseID" class="form-control" placeholder="课程编号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">原因</label>
                        <div class="col-sm-10">
                            <input type="text" name="reason" class="form-control" placeholder="原因">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">天数</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="daynum" placeholder="天数"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学生编号</label>
                        <div class="col-sm-10">
                            <input type="text" name="stuNo" class="form-control" placeholder="学生编号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">申请时间</label>
                        <div class="col-sm-10">
                            <input type="text" name="applytime" class="form-control" placeholder="申请时间">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <!--                            <input type="text" id="editStatus" name="status" class="form-control" placeholder="状态">-->
                            <label>
                                <select name="status" >
                                    <option value ="1" >同意</option>
                                    <option value ="2">拒绝</option>
                                    <option value="0">待审批</option>
                                </select>
                            </label>
                        </div>
<!--                        <div class="col-sm-10">-->
<!--                            <input type="text" name="status" class="form-control" placeholder="状态">-->
<!--                        </div>-->
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">批准时间</label>
                        <div class="col-sm-10">
                            <input type="text" name="audittime" class="form-control" placeholder="批准时间">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 取消
                </button>
                <button type="button" class="btn btn-primary" onclick="addRequest()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 保存
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 查看模态框 -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">查看</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户编号</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showId"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请假单号</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showLeaveID"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程编号</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showCourseID"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">原因</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showReason"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">天数</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showDaynum"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学生编号</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showStuNo"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> 申请时间</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showApplytime"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"> 状态</label>
                        <div class="col-sm-10" >
                            <p class="form-control-static" id="showStatus" ></p>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label"> 批准时间</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showAudittime"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑模态框 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">编辑审核请假单</h4>
            </div>
            <div class="modal-body">
                <form id="editForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ID</label>
                        <div class="col-sm-10">
                            <input type="text" id="editId" name="id" class="form-control" readonly>
                        </div>
                    </div>
                    <!--                    <div class="form-group">-->
                    <!--                        <label class="col-sm-2 control-label">学生姓名</label>-->
                    <!--                        <div class="col-sm-10">-->
                    <!--                            <input type="text" id="editStuName" name="stuName" class="form-control" placeholder="学生姓名" readonly>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程编号</label>
                        <div class="col-sm-10">
                            <input type="text" id="editCourseID" name="courseID" class="form-control" placeholder="课程编号"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请假原因</label>
                        <div class="col-sm-10">
                            <input type="text" id="editReason" name="reason" class="form-control" placeholder="请假原因"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请假天数</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="editDaynum" name="daynum" placeholder="请假天数"
                                   readonly></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学号</label>
                        <div class="col-sm-10">
                            <input type="text" id="editStuNo" name="stuNo" class="form-control" placeholder="学号"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">申请时间</label>
                        <div class="col-sm-10">
                            <input type="text" id="editApplytime" name="applytime" class="form-control"
                                   placeholder="申请时间" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>

                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--                            <input type="text" id="editStatus" name="status" class="form-control" placeholder="状态">-->
                            <label>
                                <select id="editStatus" name="status" >
                                    <option value ="1" >同意</option>
                                    <option value ="2">拒绝</option>
                                    <option value="0">待审批</option>
                                </select>
                            </label>
                        </div>


                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">批准时间</label>
                        <div class="col-sm-10">
                            <input type="text" id="editAudittime" name="audittime" class="form-control"
                                   placeholder="批准时间">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 取消
                </button>
                <button type="button" class="btn btn-primary" onclick="editRequest()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 保存
                </button>
            </div>
        </div>
    </div>
</div>
