<!-- 新增模态框 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增学院</h4>
            </div>
            <div class="modal-body">
                <form id="addForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学院名</label>
                        <div class="col-sm-10">
                            <input type="text" name="depName" class="form-control" placeholder="学院名">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">学院编号</label>
                        <div class="col-sm-10">
                            <input type="text" name="depID" class="form-control" placeholder="学院编号">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 取消
                </button>
                <button type="button" class="btn btn-primary" onclick="addRequest()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 保存
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 查看模态框 -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">查看学院</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学院编号</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showId"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学院名</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showDepName"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学院编号</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="showDepID"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑模态框 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑学院</h4>
            </div>
            <div class="modal-body">
                <form id="editForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ID</label>
                        <div class="col-sm-10">
                            <input type="text" id="editId" name="id" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学院名</label>
                        <div class="col-sm-10">
                            <input type="text" id="editDepName" name="depName" class="form-control" placeholder="学院名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学院编号</label>
                        <div class="col-sm-10">
                            <input type="text" id="editDepID" name="depID" class="form-control" placeholder="学院编号">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 取消
                </button>
                <button type="button" class="btn btn-primary" onclick="editRequest()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 保存
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 删除模态框 -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">删除学院</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="delId">
                <p><strong>警告：</strong>确定删除该数据？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 取消
                </button>
                <button type="button" class="btn btn-danger" onclick="delRequest()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 批量删除模态框 -->
<div class="modal fade" id="delsModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">批量删除学院</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="delsId">
                <p><strong>警告：</strong>确定批量删除数据？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 取消
                </button>
                <button type="button" class="btn btn-danger" onclick="delsRequest()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 确定
                </button>
            </div>
        </div>
    </div>
</div>
